.notifcation-container { 
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 2px solid blueviolet;
    padding: 20px;
}
.checkpopup-sucessed {
    color: green;
}
.checkpopup-failed{
    color: red;
}